%h1
  Welcome to the demo PubSubHubbub reference Hub server!
%p
  PubSubHubbub is a simple, open, web-hook-based
  %a{ :href => "http://en.wikipedia.org/wiki/Publish/subscribe" }
    pubsub
  (publish/subscribe) protocol.
%p
  %p
    Decentralized and free. Anybody can run a PubSubHubbub server or anybody can use an open server.
  %p
    PubSubHubbub is just a protocol, not a service, but we're running this as an open test server for anybody to use to help bootstrap the protocol. Feel free to publish to or subscribe from this hub. You can migrate in the future when you want to run your own hub server, or you can just keep using this one.
  %p
    %a{ :href => "http://pubsubhubbub.googlecode.com" }
      See the project
    for details. This presentation has an overview:

  %h2
    Hub debug
  %p
    From here you can,
    %ul
      %li
        %a{ :href => "/subscribe" }
          Subscribe
        to a feed or debug your subscriber.
      %li
        %a{ :href => "/publish" }
          Publish
        a feed or debug your published feeds.
 